<!--
 CMPE 133 - Project: Casso
  Group 21
    Alvin Dang
    Binh Vu
    Jun Jie Lai
    Lam Vong
-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Mono&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>CASSO</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

  <div class="lines-wrap">
    <div class="lines-inner">
      <div class="lines"></div>
    </div>
  </div>
  <!-- END lines -->

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  
  <nav class="site-nav dark mb-5 site-navbar-target">
    <div class="container">
      <!-- Navigation Bar -->
      <div class="site-navigation">
        <a href="index.html" class="logo m-0">CASSO<span class="text-primary">.</span></a>

        <ul class="js-clone-nav d-none d-lg-inline-none site-menu float-right site-nav-wrap">
          <li><a href="#home-section" class="nav-link active">Home</a></li>
          <li><a href="#portfolio-section" class="nav-link">Login</a></li>
          <li><a href="#portfolio-section" class="nav-link">Sign up</a></li>
          <li class="has-children">
            <a href="#about-section" class="nav-link">About Us</a>
            <ul class="dropdown">
              <li><a href="#about-section" class="nav-link">CASSO</a></li>
              <li class="has-children">
                <a href="#alvin-card">Team Cards</a>
                <ul class="dropdown">
                  <li><a href="#alvin-card" class="nav-link">Alvin Dang</a></li>
                  <li><a href="#binh-card" class="nav-link">Binh Vu</a></li>
                  <li><a href="#jun-card" class="nav-link">Jun Jie Lai</a></li>
                  <li><a href="#lam-card" class="nav-link">Lam Nguyen</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#features-section" class="nav-link">Features</a></li>
          <li><a href="#contact-section" class="nav-link">Contact us</a></li>
        </ul>

        <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-inline-block" data-toggle="collapse" data-target="#main-navbar">
          <span></span>
        </a>

      </div>
      <!-- END Navigation Bar -->
    </div>
  </nav>


  <!-- Header -->
  <div class="untree_co-section pb-0" id="home-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <!-- Main Title-->
          <h1 class="heading gsap-reveal-hero mb-3"><strong>Welcome to CASSO</strong><span class="text-primary">.</span></h1>
          <h2 class="subheading gsap-reveal-hero mb-4"> 
            <!-- Main description -->
            Medias newest social marketplace built for today's Artists. <strong>Join us today</strong> and embark on a journey where 
            <span class="text-primary"> every stroke, every click, and every connection </span>is a work of <strong>art</strong> in itself. <a href="https://untree.co/license" target="_blank"></a>
          </h2>
          <!-- Main Login btn -->
          <p class="gsap-reveal-hero"><a href="https://untree.co/" target="_blank" class="btn btn-outline-black">Login now</a></p>    
        </div>
      </div>
      
    </div>
  </div>
  <!-- END Header -->

  <!-- Activity Galleria -->
  <div class="untree_co-section untree_co-section-4 pb-0"  id="portfolio-section">
    <div class="container">


      <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
      <div id="portfolio-single-holder"></div>

      <div class="portfolio-wrapper">

        <div id="posts" class="row">

          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <!-- Artist Feed -->

            <!-- Image 1 -->
            <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Minimalist Book</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_1.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>
          
          <!-- Image 2 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-2.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="2">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Book Binding</h3>
                  <p>illustration, application</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_2.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 3 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Fresh Fruits</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_3.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 4 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Powerful Speaker</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_4.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 5 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Wireless Headset</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_5.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 6 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Black & White Cubic</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_6.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 7 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-2.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="2">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Nike Shoe</h3>
                  <p>illustration, application</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_7.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 8 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Old Typewriter</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_8.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 9 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Walking Man</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_9.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 10 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Progress Journal</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_10.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 11 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>The Dog</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_11.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 12 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Beautiful Woman</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_12.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 13 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Book Binding</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_2.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

        </div>
      </div>


        <!-- </div>
        </div> -->
      </div>
    </div>
  <!-- END Activity Galleria -->


  <!-- About Us -->
    <div class="untree_co-section pb-0" id="about-section">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-lg-7 mx-auto text-center author-wrap">
            <img src="{{ url_for('static', filename='images/casso_black_logo.jpeg') }}" alt="Image" class="img-fluid rounded-circle mb-3">
            <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">CASSO</h3>
            <p class="gsap-reveal-hero">Social Media Art Marketplace</p>
          </div>
        </div>

        <!-- Product Description -->
        <div class="row justify-content-center">
          <div class="col-lg-7">


            <p class="gsap-reveal-hero">CASSO is a project created by the four students of Group 21 of CMPE 133 at San Jose State University.</p>

            <p class="gsap-reveal-hero">With deadlines to meet, grades to attain, and bottomless creativity, Alvin Dang, Binh Vu,
              Jun Jie Lai, and Lam Vang crafted an ever evolving digital gallery. Enabling artists around the world to abandon 
              the limits of physical constraints as they turn a new leaf and partake in a vibrant atmosphere of creativity.</p>

            <p class="gsap-reveal-hero">However, the four students didn't stop there. Drawing on their own experiences, they made CASSO
              more than just a gallery. They turned it into a commission based marketplace. Here at CASSO, artists can sell their works and services  
              to regular users whilst also being able to connect with other artists.</p>
            </p>

            <!-- Team Cards -->
            <section class="articles">

              <!-- Alvin -->
              <article>
                <div class="article-wrapper" id="alvin-card">
                  <figure>
                    <img src="{{ url_for('static', filename='images/alvin.jpeg') }}" class="lazyload  img-fluid" alt="Images" />
                  </figure>
                  <div class="article-body">
                    <h2>Alvin Dang</h2>
                    <p>
                      A junior at San Jose State University, Alvin is a Software Engineering major with a passion
                      for frontend. In his free time, Alvin enjoys listening to music, snowboarding, and cooking.
                    </p>
                    <a href="https://www.linkedin.com/in/alvinmpdang/" class="read-more" target="_blank">LinkedIn</a>
                    </a>
                  </div>
                </div>
              </article>

              <!-- Binh -->
              <article>
                <div class="article-wrapper" id="binh-card">
                  <figure>
                    <img src="{{ url_for('static', filename='images/alvin.jpeg') }}" class="lazyload  img-fluid" alt="Images" />
                  </figure>
                  <div class="article-body">
                    <h2>Binh Vu</h2>
                    <p>
                      A junior at San Jose State University, Alvin is a Software Engineering major with a passion
                      for frontend. In his free time, Alvin enjoys listening to music, snowboarding, and cooking.
                    </p>
                    <a href="https://www.linkedin.com/in/alvinmpdang/" class="read-more" target="_blank">LinkedIn</a>
                    </a>
                  </div>
                </div>
              </article>

              <!-- Jun Jie -->
              <article>
                <div class="article-wrapper" id="jun-card">
                  <figure>
                    <img src="{{ url_for('static', filename='images/alvin.jpeg') }}" class="lazyload  img-fluid" alt="Images" />
                  </figure>
                  <div class="article-body">
                    <h2>Jun Jie Lai</h2>
                    <p>
                      A junior at San Jose State University, Alvin is a Software Engineering major with a passion
                      for frontend. In his free time, Alvin enjoys listening to music, snowboarding, and cooking.
                    </p>
                    <a href="https://www.linkedin.com/in/alvinmpdang/" class="read-more" target="_blank">LinkedIn</a>
                    </a>
                  </div>
                </div>
              </article>

              <!-- Lam -->
              <article>
                <div class="article-wrapper" id="lam-card">
                  <figure>
                    <img src="{{ url_for('static', filename='images/alvin.jpeg') }}" class="lazyload  img-fluid" alt="Images" />
                  </figure>
                  <div class="article-body">
                    <h2>Lam Vong</h2>
                    <p>
                      A junior at San Jose State University, Alvin is a Software Engineering major with a passion
                      for frontend. In his free time, Alvin enjoys listening to music, snowboarding, and cooking.
                    </p>
                    <a href="https://www.linkedin.com/in/alvinmpdang/" class="read-more" target="_blank">LinkedIn</a>
                    </a>
                  </div>
                </div>
              </article>
            </section>

            <p class="gsap-reveal-hero"></p>

            <p class="gsap-reveal-hero mb-5"></p>
          </div>
        </div>
      </div>
    </div>
  <!-- END About Us -->

  <!-- Features -->
    <div class="untree_co-section pb-0" id="features-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Features</strong></h2>
            <p class="gsap-reveal-hero">Unlock the potential that Group 21 has built. Use CASSO at its fullest.</p>
            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/svg/service-icon-7.svg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Marketing</h3>
              <p class="gsap-reveal-hero">Showcase your captivating portfolio in a community that celebrates your talent. </p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/follow.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Follow</h3>
              <p class="gsap-reveal-hero">Follow, communicate with, and engage with other artists from around the globe</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/buy.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Buy</h3>
              <p class="gsap-reveal-hero">Own captivating works of art that'll inspire anyone.</p>
            </div>
          </div>


          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/sell.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Sell</h3>
              <p class="gsap-reveal-hero">Earn money and build your portfolio with customers who have you as their first choice.</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/commission.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Commission</h3>
              <p class="gsap-reveal-hero">Find the artists that can create your vision and collaborate with them.</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/explore.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Explore</h3>
              <p class="gsap-reveal-hero">Dive into a vibrant world of creativity and own a piece of the extraordinary.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  <!-- END Services -->

  <!-- Skillset -->
    <!--<div class="untree_co-section pb-0">
      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>My Skillset</strong></h2>
            <p class="gsap-reveal-hero">The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>
            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="0">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="98">
                <div class="number"></div>
                <p class="caption">WordPress</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="95">
                <div class="number"></div>
                <p class="caption">Web Design</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="89">
                <div class="number"></div>
                <p class="caption">Web/Mobile App</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="300">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="85">
                <div class="number"></div>
                <p class="caption">Photoshop</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>-->
  <!-- END Skillset -->

  <!-- Testimonials -->
    <!--<div class="untree_co-section testimonial-wrap">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Testimonials</strong></h2>
            <p class="gsap-reveal-hero">What clients say...</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>


        <div data-aos="fade-left" data-aos-delay="200">



          <div class="owl-carousel owl-3-slider">
            <div class="item">
              <div class="testimonial-v1">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/svg/service-icon-4.svg') }}" alt="Image" class="img-fluid"></span>
                <div class="mb-4">
                  <h3>James Smith</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-v1">
                <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>Jenny Wilson</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-v1">
                <img src="{{ url_for('static', filename='images/person_3.jpg') }}" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>Dan Anderson</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-v1">
                <img src="{{ url_for('static', filename='images/person_1.jpg') }}" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>James Smith</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  <!-- END Testimonials -->

  <!-- Blog Posts -->
    <!--<div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Blog Posts</strong></h2>
            <p class="gsap-reveal-hero">News &amp; Updates</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff" stroke-width="2"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
            <div class="post-entry">
              <img src="{{ url_for('static', filename='images/person_1.jpg') }}" alt="Image" class="img-fluid">
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="{{ url_for('static', filename='images/gal_2.jpg') }}" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="{{ url_for('static', filename='images/gal_3.jpg') }}" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="{{ url_for('static', filename='images/gal_4.jpg') }}" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  <!-- END Blog Posts -->

  <!-- Contact -->
    <div class="untree_co-section" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Contact</strong></h2>
            <p class="gsap-reveal-hero">Have ideas for new features? Get in touch</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="row">
          <div class="col-lg-6">
            <form action="#">
              <div class="row">
                <div class="col-lg-6 form-group">
                  <input type="text" class="form-control" placeholder="Firstname">
                </div>
                <div class="col-lg-6 form-group">
                  <input type="text" class="form-control" placeholder="Lastname">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-group">
                  <input type="email" class="form-control" placeholder="Email address">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-group">
                  <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Write your message..."></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <input type="submit" class="btn btn-black" value="Send Message">
                </div>
              </div>
            </form>
          </div>
          <!-- END Contact Form -->

          <!-- Google Maps Embed -->
          <div class="col-lg-6">
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d793.054651581752!2d-121.88217632481786!3d37.33733297028409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1697942471446!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <!-- END Google Maps Embed -->
        </div>
      </div>
    </div>
  <!-- END Contact -->

  <!-- Footer -->
    <div class="site-footer">
      <div class="container">

        <!-- Footer Columns -->
        <div class="row">
          <!-- Home Column -->
          <div class="col-lg-3">
            <div class="widget">
              <h3>Home</h3>
              <ul class="list-unstyled float-left links">
                <li><a href="#">CASSO</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
          </div> <!-- END Home Column-->

          <!-- Technologies Column -->
          <div class="col-lg-3">
            <div class="widget">
              <h3>Technology Used</h3>
              <ul class="list-unstyled float-left links">
                <li><a href="#">HTML5</a></li>
                <li><a href="#">CSS3</a></li>
                <li><a href="#">Untree.co</a></li>
                <li><a href="#">Flask</a></li>
                <li><a href="#">SQL Alchemy</a></li>
                <li><a href="#">Looka</a></li>
                <li><a href="#">ChatGPT</a></li>
                <li><a href="#">Google Maps</a></li>
              </ul>
            </div>
          </div> <!-- END Technology Column -->
          
          <!-- Team Column -->
          <div class="col-lg-3">
            <div class="widget">
              <h3>Team Connections</h3>
              <ul class="list-unstyled float-left links">
                <li><a href="#">Alvin Dang</a></li>
                <li><a href="#">Binh Vu</a></li>
                <li><a href="#">Jun Jie Lai</a></li>
                <li><a href="#">Lam Vong</a></li>
              </ul>
            </div>
          </div> <!-- END Team Column -->

          <!-- Contact Column -->
          <div class="col-lg-3">
            <div class="widget">
              <h3>Contact</h3>
              <address>Charles W. Davidson College of Engineering, Engineering Building, Washington Sq, 
                San Jose, CA</address>
              <ul class="list-unstyled links mb-4">
                <li><a href="tel://11234567890">+1(702)706-3731</a></li>
                <li><a href="mailto:info@mydomain.com">group21@casso.com</a></li>
              </ul>

              <h3>Connect</h3>
              <ul class="list-unstyled social">
                <li><a href="#"><span class="icon-instagram"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
              </ul>

            </div>
          </div> <!-- END Contact Column -->

        </div> <!-- END Footer Columns -->

        <div class="row mt-5">
          <div class="col-12 text-center">
            <!--<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());
            </script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">
              Untree.co</a>  Distributed By <a href="https://themewagon.com">ThemeWagon</a>-->
            <p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());
            </script>. All Rights Reserved. &mdash; Designed by <a href="https://www.linkedin.com/in/alvinmpdang/">
              Alvin Dang</a>
            </p>
          </div>
        </div>
      </div> <!-- /.container -->
    </div> 
  <!-- END Footer -->

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <script src="{{ url_for('static', filename='css/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/jquery.animateNumber.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/wave-animate.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/circle-progress.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/imagesloaded.pkgd.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/TweenMax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/ScrollMagic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/scrollmagic.animation.gsap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/js/custom.js') }}"></script>
    
    
  </body>

  </html>
